html{
  height: 100%;
  width:100%

}

body{
  display: grid;
  grid-template-areas:
  "header header header"
  "content content content"
  "footer footer footer";
  grid-template-rows: auto 1fr auto;
  margin:0;
  min-height: 100%;
  background:#212F3C;
}

#headerMain{
  display: grid;
  grid-area: header;
  padding: 1rem;
  color: white;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  background:#34495E;
}

#container{
  display:flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

input{
  background-color: #34495E;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  height: 18px;
  width: 150px;
  border-radius: 5px;
}

select{
  background-color: #34495E;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  height: 18px;
  width: 160px;
  border-radius: 5px;
}

#container > #card {
  margin: 10px;
}

#content > #form {
  margin: 10px;
}

#form{
  border-style: solid;
  border-radius: 20px;
  background-color: #34495E;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 200px;
  height: 320px;
  padding: 10px;
  border-color: #212F3C;
}

#card{
  border-style: solid;
  border-radius: 20px;
  background-color: #34495E;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 200px;
  height: 320px;
  padding: 10px;
  border-color: #212F3C;
}

#content{
  grid-area: content;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#deleteButton{
  background-color: #DF6244;
  color: white;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  border-color: #DF6244;
}

#addButton{
  background-color: #52D07F;
  color: white;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  border-color: #52D07F;
}

#footerMain{
  grid-area: footer;
  padding: 1rem;
  color:white;
}
